/* .reg-main
{
  padding-top: 60px;
 
  justify-content: right;

  padding-left: 10px;

padding:90px 0px 90px 0px;
padding-left: 550px;
}
.registration-form-container {
  max-width: 500px;
  
  margin: 0 auto;
  padding: 30px;
  
  
  box-shadow: 11px 12px 13px 12px  rgb(126, 125, 125);
  border-radius:10px;
  
  font-family:cursive;
  background-color: rgb(99, 140, 150);
  }
  


h1 {
  text-align: center;
 
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  color:rgb(61, 60, 60);
  text-align: left;
  font-size:14px;
}

input,
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  color:black;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #54568f;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
 */


 /* Base styles */
.reg-main {
  padding-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
  padding: 90px 0px;
  justify-content: right;
  padding-left: 550px;
}

.registration-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 11px 12px 13px 12px rgb(126, 125, 125);
  border-radius: 10px;
  font-family: cursive;
  background-color: rgb(99, 140, 150);
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  color: rgb(61, 60, 60);
  text-align: left;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  color: black;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #54568f;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .reg-main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .registration-form-container {
    padding: 20px;
    max-width: 100%;
  }
  
  label {
    font-size: 12px;
  }
}
