/* Base styles */
h1 {
  color: black;
  font-family: Pangolin;
  font-size: 35px;
}

.home-main {
  padding-top: 150px;
}

.quote {
  padding-top: 50px;
  padding-left: 60px;
  font-size: 13px;
  text-align: left;
}

.profile-main {
  float: right;
  max-width: 70%;
  padding-right: 100px;
  padding-top: 30px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .home-main {
    padding-right: 30px;
  }

  .profile-main {
    float: none;
    max-width: 100%;
    padding-right: 30px;
  }

  h1 {
    font-size: 28px;
  }

  .quote {
    padding-left: 30px;
  }
}


footer
{
  padding-top: 400px;
}