.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (min-width: 480px) {
  /* styles for devices with a minimum screen width of 480px */
  }
  
  @media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  }

  @media only screen and (max-width: 480px) {
    /* hide element on small screens */
    .my-element {
    display: none;
    }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* show element on medium-sized screens */
    .my-element {
    display: block;
    }
    }


    @media only screen and (orientation: portrait) {
      /* styles for portrait orientation */
      }
      
      @media only screen and (orientation: landscape) {
      /* styles for landscape orientation */
      }
